# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# pkgdown site
docs/

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
.DS_Store
.DS_Store
.DS_Store

## Simulations
sims/*
sims_traj/*
sims_para/*
sims 2/*
sims.zip
sims/simulation_1.RData
sims*
sims/simulation_10.RData
sims/simulation_2.RData
sims/simulation_3.RData
sims/simulation_4.RData
sims/simulation_5.RData
sims/simulation_6.RData
sims/simulation_7.RData
sims/simulation_8.RData
sims/simulation_9.RData
